.userSetting {
    width: max-content;
    height: max-content;
    
    padding: 30px;
    background-color: rgba(17, 25, 40, 0.99);
    color: white;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .imgContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
            }

            label {
                font-weight: 800;
                color: white;
                padding: 15px;
                text-decoration: underline;
                cursor: pointer;
                background-color: rgba(141, 137, 137, 0.288);
                border-radius: 10px;
            }
        }
    }

    .imageButton {
    
    }
    
    .text-input {
        font-size: 20px;
        line-height: 1;
        min-width: 300px;
        background-color: rgba(160, 169, 185, 0.111);
        color: white;
        border-radius: 20px;
        padding: 20px;
    }

    .text-input::placeholder {
        color: rgb(194, 189, 189);
    }

    button {
        padding: 10px;
        width: 20%;
        background-color: rgb(127, 244, 255);
        border: none;
        outline: none;
        border-radius: 20px;
        cursor: pointer;
        align-self: center;
        
        &.backButton {
            background-color: rgb(255, 127, 127);
            align-self: flex-end;
            cursor: pointer;
        }
    }
}

